.dice {
  display: block;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 4em;
  height: 4em;
}

.dots-middle,
.dots-top-left,
.dots-bottom-right,
.dots-bottom-left,
.dots-top-right,
.dots-left-middle, 
.dots-right-middle {
  background-color: black;
  position: absolute;
  height: 0.6em;
  width: 0.6em;
  border-radius: 50%;
}

.dots-middle {
  /* Dot in center  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dots-top-left {
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.dots-bottom-right {
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.dots-bottom-left {
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.dots-top-right {
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.dots-left-middle {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.dots-right-middle {
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
